In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [47]:
df_clinical_data  = pd.read_csv('raw_data/clinicaltrial_data.csv')
df_mouse_drug_data = pd.read_csv('raw_data/mouse_drug_data.csv')
df_full_data = df_mouse_drug_data.set_index("Mouse ID").join(df_clinical_data.set_index("Mouse ID"))
df_full_data = df_full_data.reset_index()

In [49]:
df_full_data.head()

  Mouse ID       Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     a203  Infubinol          0           45.000000                 0
1     a203  Infubinol          5           48.508468                 0
2     a203  Infubinol         10           51.852437                 1
3     a203  Infubinol         15           52.777870                 1
4     a203  Infubinol         20           55.173336                 1

In [110]:
tumor_volume_over_time_per_treatment = df_full_data.groupby(["Drug","Timepoint"]).mean()["Tumor Volume (mm3)"].unstack(level=0)
tumor_volume_over_time_per_treatment.head(10)

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334
25,39.939528,54.287674,55.715252,57.678982,56.731968,57.482574,55.504138,38.974300,56.166123,55.432935
30,38.769339,56.769517,58.299397,60.994507,59.559509,59.809063,58.196374,38.703137,59.826738,57.713531
35,37.816839,58.827548,60.742461,63.371686,62.685087,62.420615,60.350199,37.451996,62.440699,60.089372
40,36.958001,61.467895,63.162824,66.068580,65.600754,65.052675,63.045537,36.574081,65.356386,62.916692
45,36.236114,64.132421,65.755562,70.662958,69.265506,68.084082,66.258529,34.955595,68.438310,65.960888

In [104]:
metastatic_sites_over_time_per_treatment = df_full_data.groupby(["Drug","Timepoint"]).mean()["Metastatic Sites"].unstack(level=0)
metastatic_sites_over_time_per_treatment.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.160000,0.380952,0.280000,0.304348,0.260870,0.375000,0.320000,0.120000,0.240000,0.166667
10,0.320000,0.600000,0.666667,0.590909,0.523810,0.833333,0.565217,0.250000,0.478261,0.500000
15,0.375000,0.789474,0.904762,0.842105,0.857143,1.250000,0.764706,0.333333,0.782609,0.809524
20,0.652174,1.111111,1.050000,1.210526,1.150000,1.526316,1.000000,0.347826,0.952381,1.294118

In [106]:
mouse_survival_over_time_per_treatment = df_full_data.groupby(["Drug","Timepoint"]).count()["Mouse ID"].unstack(level=0)
mouse_survival_over_time_per_treatment.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,25,25,25,25,25,25,26,25,26,25
5,25,21,25,23,23,24,25,25,25,24
10,25,20,21,22,21,24,23,24,23,22
15,24,19,21,19,21,20,17,24,23,21
20,23,18,20,19,20,19,17,23,21,17

In [125]:
percent_change_volume = ((tumor_volume_over_time_per_treatment.loc[45]-
                         tumor_volume_over_time_per_treatment.loc[0])
                         /tumor_volume_over_time_per_treatment.loc[0])*100

In [126]:
percent_change_volume

Drug
Capomulin   -19.475303
Ceftamin     42.516492
Infubinol    46.123472
Ketapril     57.028795
Naftisol     53.923347
Placebo      51.297960
Propriva     47.241175
Ramicane    -22.320900
Stelasyn     52.085134
Zoniferol    46.579751
dtype: float64